body{
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

img{
  width: 0px;
}

footer{
  background-color: rgb(149, 108, 81);
  height:200px;
  width: 100%;
  bottom:0;
  position: fixed;
}

.main-logo{
  width: 30vw;
  left:50%;
  top:50%;
  transform: -50%, -50%;
}
.social-icons{
  float: left;
}
.desktop-icons{
  float: right;
}
.icons{
  width: 2vw;
}

.listedClothing{
  text-align: center;
  padding: 1%;
}
.listedClothingPicture{
  width: 60%;
}

/*bare for testing*/
.col-test{
  border: 1px solid;
}
.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}